
2022-citibike-tripdata/.DS_Store
2022-citibike-tripdata/202201-citibike-tripdata/202201-citibike-tripdata_1.csv
2022-citibike-tripdata/202201-citibike-tripdata/202201-citibike-tripdata_2.csv
2022-citibike-tripdata/202202-citibike-tripdata/202202-citibike-tripdata_1.csv
2022-citibike-tripdata/202202-citibike-tripdata/202202-citibike-tripdata_2.csv
2022-citibike-tripdata/202203-citibike-tripdata/202203-citibike-tripdata_1.csv
2022-citibike-tripdata/202203-citibike-tripdata/202203-citibike-tripdata_2.csv
2022-citibike-tripdata/202204-citibike-tripdata/202204-citibike-tripdata_1.csv
2022-citibike-tripdata/202204-citibike-tripdata/202204-citibike-tripdata_2.csv
2022-citibike-tripdata/202204-citibike-tripdata/202204-citibike-tripdata_3.csv
2022-citibike-tripdata/202205-citibike-tripdata/202205-citibike-tripdata_1.csv
2022-citibike-tripdata/202205-citibike-tripdata/202205-citibike-tripdata_2.csv
2022-citibike-tripdata/202205-citibike-tripdata/202205-citibike-tripdata_3.csv
2022-citibike-tripdata/202206-citibike-tripdata/202206-citibike-tripdata_1.csv
2022-citibike-tripdata/202206-citibike-tripdata/202206-citibike-tripdata_2.csv
2022-citibike-tripdata/202206-citibike-tripdata/202206-citibike-tripdata_3.csv
2022-citibike-tripdata/202206-citibike-tripdata/202206-citibike-tripdata_4.csv
2022-citibike-tripdata/202207-citibike-tripdata/202207-citibike-tripdata_1.csv
2022-citibike-tripdata/202207-citibike-tripdata/202207-citibike-tripdata_2.csv
2022-citibike-tripdata/202207-citibike-tripdata/202207-citibike-tripdata_3.csv
2022-citibike-tripdata/202207-citibike-tripdata/202207-citibike-tripdata_4.csv
2022-citibike-tripdata/202208-citibike-tripdata/202208-citibike-tripdata_1.csv
2022-citibike-tripdata/202208-citibike-tripdata/202208-citibike-tripdata_2.csv
2022-citibike-tripdata/202208-citibike-tripdata/202208-citibike-tripdata_3.csv
2022-citibike-tripdata/202208-citibike-tripdata/202208-citibike-tripdata_4.csv
2022-citibike-tripdata/202209-citibike-tripdata/202209-citibike-tripdata_1.csv
2022-citibike-tripdata/202209-citibike-tripdata/202209-citibike-tripdata_2.csv
2022-citibike-tripdata/202209-citibike-tripdata/202209-citibike-tripdata_3.csv
2022-citibike-tripdata/202209-citibike-tripdata/202209-citibike-tripdata_4.csv
2022-citibike-tripdata/202210-citibike-tripdata/202210-citibike-tripdata_1.csv
2022-citibike-tripdata/202210-citibike-tripdata/202210-citibike-tripdata_2.csv
2022-citibike-tripdata/202210-citibike-tripdata/202210-citibike-tripdata_3.csv
2022-citibike-tripdata/202211-citibike-tripdata/202211-citibike-tripdata_1.csv
2022-citibike-tripdata/202211-citibike-tripdata/202211-citibike-tripdata_2.csv
2022-citibike-tripdata/202211-citibike-tripdata/202211-citibike-tripdata_3.csv
2022-citibike-tripdata/202212-citibike-tripdata/202212-citibike-tripdata_1.csv
2022-citibike-tripdata/202212-citibike-tripdata/202212-citibike-tripdata_2.csv
2023-citibike-tripdata/.DS_Store
2023-citibike-tripdata/202301-citibike-tripdata/202301-citibike-tripdata_1.csv
2023-citibike-tripdata/202301-citibike-tripdata/202301-citibike-tripdata_2.csv
2023-citibike-tripdata/202302-citibike-tripdata/202302-citibike-tripdata_1.csv
2023-citibike-tripdata/202302-citibike-tripdata/202302-citibike-tripdata_2.csv
2023-citibike-tripdata/202303-citibike-tripdata/202303-citibike-tripdata_1.csv
2023-citibike-tripdata/202303-citibike-tripdata/202303-citibike-tripdata_2.csv
2023-citibike-tripdata/202303-citibike-tripdata/202303-citibike-tripdata_3.csv
2023-citibike-tripdata/202304-citibike-tripdata/202304-citibike-tripdata_1.csv
2023-citibike-tripdata/202304-citibike-tripdata/202304-citibike-tripdata_2.csv
2023-citibike-tripdata/202304-citibike-tripdata/202304-citibike-tripdata_3.csv
2023-citibike-tripdata/202305-citibike-tripdata/202305-citibike-tripdata_1.csv
2023-citibike-tripdata/202305-citibike-tripdata/202305-citibike-tripdata_2.csv
2023-citibike-tripdata/202305-citibike-tripdata/202305-citibike-tripdata_3.csv
2023-citibike-tripdata/202305-citibike-tripdata/202305-citibike-tripdata_4.csv
2023-citibike-tripdata/202306-citibike-tripdata/202306-citibike-tripdata_1.csv
2023-citibike-tripdata/202306-citibike-tripdata/202306-citibike-tripdata_2.csv
2023-citibike-tripdata/202306-citibike-tripdata/202306-citibike-tripdata_3.csv
2023-citibike-tripdata/202306-citibike-tripdata/202306-citibike-tripdata_4.csv
2023-citibike-tripdata/202307-citibike-tripdata/202307-citibike-tripdata_1.csv
2023-citibike-tripdata/202307-citibike-tripdata/202307-citibike-tripdata_2.csv
2023-citibike-tripdata/202307-citibike-tripdata/202307-citibike-tripdata_3.csv
2023-citibike-tripdata/202307-citibike-tripdata/202307-citibike-tripdata_4.csv
2023-citibike-tripdata/202308-citibike-tripdata/202308-citibike-tripdata_1.csv
2023-citibike-tripdata/202308-citibike-tripdata/202308-citibike-tripdata_2.csv
2023-citibike-tripdata/202308-citibike-tripdata/202308-citibike-tripdata_3.csv
2023-citibike-tripdata/202308-citibike-tripdata/202308-citibike-tripdata_4.csv
2023-citibike-tripdata/202309-citibike-tripdata/202309-citibike-tripdata_1.csv
2023-citibike-tripdata/202309-citibike-tripdata/202309-citibike-tripdata_2.csv
2023-citibike-tripdata/202309-citibike-tripdata/202309-citibike-tripdata_3.csv
2023-citibike-tripdata/202309-citibike-tripdata/202309-citibike-tripdata_4.csv
2023-citibike-tripdata/202310-citibike-tripdata/202310-citibike-tripdata_1.csv
2023-citibike-tripdata/202310-citibike-tripdata/202310-citibike-tripdata_2.csv
2023-citibike-tripdata/202310-citibike-tripdata/202310-citibike-tripdata_3.csv
2023-citibike-tripdata/202310-citibike-tripdata/202310-citibike-tripdata_4.csv
2023-citibike-tripdata/202311-citibike-tripdata/202311-citibike-tripdata_1.csv
2023-citibike-tripdata/202311-citibike-tripdata/202311-citibike-tripdata_2.csv
2023-citibike-tripdata/202311-citibike-tripdata/202311-citibike-tripdata_3.csv
2023-citibike-tripdata/202312-citibike-tripdata/202312-citibike-tripdata_1.csv
2023-citibike-tripdata/202312-citibike-tripdata/202312-citibike-tripdata_2.csv
2023-citibike-tripdata/202312-citibike-tripdata/202312-citibike-tripdata_3.csv
NYC_tripdata_sampled.csv
